/*General*/

body {
    background: #CCBCBC;
}

section {
  height: 100vh;
  margin-top: 10%;
}


.page-break {
    width: 200px;
    height: 1px;
    background: #063940;
    margin: 0 auto;
}
/*Navbar Section */
.navbar-toggler-icon {
    color: white;
    background: white;
}
.custom-nav {
    background: #854798;
}
.nav-link {
    color: #E4D1FF;
}
.profile-pic { 
    text-align: center;
    margin: 0 auto;
    float: none;
}

.profile-pic img{
    max-width: 100%;
    height: auto;
    margin-bottom: 22px;
}

/*About*/
.carousel-inner img {
  margin: auto;
}

.language-img {
    height: 170px;
    width: 170px;
}

/*Portfolio*/

/*Contact*/
.contact-li {
    display: inline-block;
}

.fa-envelope {
    padding-left: 20px;
}
.fa-phone {
    padding-left: 20px;
    position: relative;
    top: 2px;
}


